@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.nav-item i {
  margin-right: 4px;
}

.nav-link.org-link {
  color: $primary;

  &:hover {
    color: $dark-primary;
  }
}

.modal-header .org-title {
  font-size: 22px;

  i {
    margin: 0 5px;
  }
}
