@import '../../../theme/theme-variables.scss';

.status-entrevista {
  padding-top: 7px;

  span {
    padding: 8.5px 12px;
    background: $gray-100;
    font-style: italic;
    border-radius: 2px 5px 5px 2px;
    border-left: 3px solid $gray-400;
  }
  &.concluida span {
    border-color: $primary;
    color: $primary;
    font-weight: 600;
    font-style: normal;
  }
  &.offline span, &.andamento span {
    font-style: normal;
    color: $gray-700;
  }
}
#ds-questionario-respondido-list{
  .card-questionario-respondido{
    background: #f8f8f9;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 1px 1px 1px 1px #e3e5e9;
  }

  .questionario-respondido-mobile-opcoes{
    width: -webkit-fill-available;
    background-color: #eee;
    color: #289c93;
    position: relative;
    bottom: -15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 1px 1px #e3e5e9;
  }
}
.pergunta-notificacao{
  font-size: 12px;
  position: relative;
  top: -3px;
  left: 9px;
}