<div class="container">

    <div class="row mb-2">
      <div class="col-md-12">
        <h3>Perguntas</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-1">
        <button class="btn btn-link" (click)="exibeFiltro = !exibeFiltro;">
          <small class="text-secondary"><i class="fa"
            [ngClass]="{'fa-angle-down': !exibeFiltro, 'fa-angle-up': !!exibeFiltro}"></i> Filtro</small>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!!exibeFiltro">
      <div class="col-md-12 mb-4">
        <form [formGroup]="formFiltro" (submit)="obterListagem(true)">
          <div class="row">
            <div class="col-lg-4 col-lg-offset-5">
              <div class="form-group">
                <label for="filtroEvento" class="sr-only">Descrição</label>
                <input type="text" class="form-control" id="filtroEvento" formControlName="descricao" placeholder="Descrição da pergunta">
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group pt-2 pl-4">
                <input type="checkbox"
                      id="filtroNaoUtilizadas"
                      formControlName="utilizadas"
                      name="filtroNaoUtilizadas"
                      class="custom-control-input"/>
                <label class="custom-control-label" for="filtroNaoUtilizadas">Não utilizadas em questionários</label>
              </div>
            </div>
            <div class="col-lg-1 col-md-6">
              <button type="submit" class="btn btn-default col-md-12">Filtrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mb-2" [hidden]="!erroListagem || carregando" role="alert">
      <div class="col-md-12">
        <p class="alert alert-danger">
            <b>Ops!</b> Ocorreu um erro ao buscar as perguntas.
            <a class="alert-link float-right" (click)="erroListagem = false"><i class="fa fa-times"></i></a>
        </p>
      </div>
    </div>

    <div class="loader-bar" [ngClass]="{'loading': carregando}"></div>
    <div class="row">
      <div class="col-md-12 mt-auto">
        <table class="table table-responsive-sm table-hover" id="ds-entrevista-table">
          <thead>
            <tr>
              <th class="text-secondary"><i class="fa fa-hashtag"></i></th>
              <th>Descrição</th>
              <th>Tipo de resposta</th>
              <th>Cadastrada em</th>
              <th><a class="float-right text-secondary mr-1" (click)="obterListagem(true)"><i class="fa fa-sync-alt"></i></a></th>
            </tr>
          </thead>
          <tbody *ngIf="carregando">
            <tr>
              <td colspan="7" class="text-center">
                <i>Carregando perguntas...</i>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let pergunta of listagem.conteudo; let i = index;">
              <td class="table-index text-secondary"><small>{{i+1}}</small></td>
              <td title="{{pergunta.descricao}}">
                <span>{{pergunta.descricao | truncate:[40]}}</span>
              </td>
              <td>{{tipoResposta(pergunta.tipoResposta)}}</td>
              <td>{{formatDate(pergunta.createdAt)}}</td>
              <td>
                <button class="btn btn-outline-secondary float-right ml-1" (click)="confirmarExclusao(pergunta)">
                  Excluir
                </button>
                <button class="btn btn-outline-secondary float-right ml-1" (click)="visualizar(pergunta)">
                  Visualizar
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <small class="text-secondary">Exibindo {{listagem.conteudo.length}} de {{listagem.total}}</small>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row wrap-btn-more-data" [hidden]="listagem.conteudo.length >= listagem.total">
      <div class="col-md-12">
        <button class="btn btn-outline-secondary" (click)="obterListagem()">
          <span [hidden]="carregando">Carregar mais resultados</span>
          <span [hidden]="!carregando"><i class="fas fa-cog fa-spin"></i> Carregando mais resultados...</span>
        </button>
      </div>
    </div>

    <div id="ds-pergunta-modal-exclusao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <p>Tem certeza que deseja excluir a pergunta <b>{{perguntaExclusao ? perguntaExclusao.descricao : ''}}</b>?</p>
              </div>
              <div class="loader-bar" [ngClass]="{'loading': salvando}"></div>
              <div class="modal-footer">
                <button class="btn btn-primary" (click)="excluir()">Sim, excluir</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="perguntaExclusao = null">Cancelar</button>
              </div>
            </div>
        </div>
    </div>

</div>

<app-pergunta-especifica (concluido)="perguntaConcluida($event)"></app-pergunta-especifica>
