<div class="login-container bg-light">
  <div class="login-box">
    <h1 translate>APP_NAME</h1>
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Username or password incorrect.
            </div>
            <div class="form-group">
              <label class="d-block">
                <input type="text" class="form-control" formControlName="username" autocomplete="username"
                       [placeholder]="'Username' | translate"/>
                <span hidden translate>Username</span>
                <small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                       class="text-danger" translate>
                  Username is required
                </small>
              </label>
              <label class="d-block">
                <input type="password" class="form-control" formControlName="password" autocomplete="current-password"
                       [placeholder]="'Password' | translate" required/>
                <span hidden translate>Password</span>
                <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                       class="text-danger" translate>
                  Password is required
                </small>
              </label>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" formControlName="remember"/>
                  <span translate>Remember me</span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Login</span>
            </button>
            <a class="link w-100" routerLink="/recuperacao" routerLinkActive="active">Esqueci minha senha</a>
            <small class="d-flex w-100 justify-content-center my-2">Primeiro acesso? Cadastre-se aqui!</small>
            <a class="btn btn-secondary w-100" routerLink="/cadastro" routerLinkActive="active">Cadastrar</a>
          </form>
        </div>
      </div>
      <h1 class="text-center my-3">
        <img src="assets/logo-missao.png"/>
      </h1>
      <!-- Desktop -->
      <footer class="footer d-none d-lg-block">
        <div class="row align-items-center">
          <div class="col-sm text-left">
            <button class="btn btn-link pl-0" (click)="verSobre()">O que é o Diagnóstico Social?</button>
          </div>
          <div class="col-sm text-center text-secondary">
            <small>Saiba mais sobre a missão em <a target="_blank" href="https://missaopeixes.org/">missaopeixes.org</a>.</small>
          </div>
          <div class="col-sm  text-right text-secondary">
            <small>Versão 1.1</small>
          </div>
        </div>
      </footer>
      <!-- Mobile -->
      <footer class="footerMb d-lg-none">
        <div class="row">
          <div class="col align-self-center text-center text-secondary">
            <button class="btn btn-link" (click)="verSobre()">O que é o Diagnóstico Social?</button><br>
            <small>Saiba mais sobre a missão em <a target="_blank" href="https://missaopeixes.org/">missaopeixes.org</a>.</small><br>
            <small>Versão 1.1</small>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

<div id="ds-login-modal-sobre" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sobre</h5>
      </div>
      <div class="modal-body">
        O <b>Diagnóstico Social</b> é uma iniciativa Missão Peixes 🐟 para automatização de diagnósticos sociais em comunidades de vulnerabilidade social.
        <br><br>
        O objetivo desse projeto é auxiliar ONGs, projetos sociais e agências missionárias a coletar dados e gerar relatórios para realizar diagnósticos sociais das comunidades de atuação.
        <br><br>
        Sinta-se a vontade para contribuir com esse projeto. Ele é feito pela comunidade e para a comunidade! 😆 Acesse <a target="_blank" href="https://github.com/missaopeixes">github.com/missaopeixes</a>!
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
