#ds-evento-list{
  .card-evento{
    background: #f8f8f9;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 1px 1px 1px 1px #e3e5e9;
  }

  .evento-mobile-opcoes{
    width: -webkit-fill-available;
    background-color: #eee;
    color: #289c93;
    position: relative;
    bottom: -15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 1px 1px #e3e5e9;
  }
}