<div class="container">

    <div class="row mb-2">
      <div class="col-md-6">
        <h3 *ngIf="administrador">Entrevistas</h3>
        <h3 *ngIf="!administrador">Suas entrevistas</h3>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary float-right btn-with-icon"
          (click)="novo()">
          Nova
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-1">
        <button class="btn btn-link" (click)="exibeFiltro = !exibeFiltro;">
          <small class="text-secondary"><i class="fa"
            [ngClass]="{'fa-angle-down': !exibeFiltro, 'fa-angle-up': !!exibeFiltro}"></i> Filtro</small>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="!!exibeFiltro">
      <div class="col-md-12 mb-4">
        <form [formGroup]="formFiltro" (submit)="obterListagem(true)">
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="filtroEvento" class="sr-only">Evento</label>
                <input type="text" class="form-control" id="filtroEvento" formControlName="evento" placeholder="Nome do evento">
              </div>
            </div>
            <div *ngIf="administrador" class="col-lg-3">
              <div class="form-group">
                <label for="filtroUsuario" class="sr-only">Entrevistador</label>
                <input type="text" class="form-control" id="filtroUsuario" formControlName="usuario" placeholder="Nome do entrevistador">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="filtroNome" class="sr-only">Entrevistado</label>
                <input type="text" class="form-control" id="filtroNome" formControlName="nome" placeholder="Nome do entrevistado">
              </div>
            </div>
            <!-- <div class="col-lg-2 col-md-6">
              <div class="custom-control custom-checkbox pt-2 pl-4">
                  <input type="checkbox"
                        id="filtroConcluida"
                        formControlName="concluida"
                        name="filtroConcluida"
                        class="custom-control-input"/>
                  <label class="custom-control-label" for="filtroConcluida">Concluídas</label>
              </div>
            </div> -->
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <div class="input-group mb-3">
                  <select id="filtroStatus" class="custom-select" formControlName="status">
                    <option value="1" selected>Somente concluídas</option>
                    <option value="2">Somente em andamento</option>
                    <option value="3">Todas</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-md-6">
              <button type="submit" class="btn btn-default col-md-12">Filtrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mb-2" [hidden]="!erroListagem || carregando" role="alert">
      <div class="col-md-12">
        <p class="alert alert-danger">
            <b>Ops!</b> Ocorreu um erro ao buscar entrevistas.
            <a class="alert-link float-right" (click)="erroListagem = false"><i class="fa fa-times"></i></a>
        </p>
      </div>
    </div>

    <div class="loader-bar" [ngClass]="{'loading': carregando}"></div>
    <div class="row">
      <div class="col-md-12 mt-auto">
        <!-- MODO MOBILE -->
        <div id="ds-entrevista-list" *ngIf="modoMobile">
          <div class="row">
            <div class="col-12">
              <a class="float-right text-secondary mr-1" (click)="obterListagem(true)"><i class="fa fa-sync-alt"></i></a>
            </div>
            <div *ngIf="carregando" class="col-12 text-center">
              <i>Carregando entrevistas...</i>
            </div>
          </div><hr>
          <div class="row card-entrevista" *ngFor="let entrevista of listagem.conteudo; let i = index;">
            <div class="col-12">
              <div class="row">
                <div class="col-12 pr-0">
                  <div class="text-primary status-label" *ngIf="entrevista.concluida">
                    <i class="fas fa-check-circle"></i>
                    <small class="font-weight-bold">Concluída</small>
                  </div>
                  <div class="text-warning status-label" *ngIf="!entrevista.concluida">
                    <i class="fas fa-exclamation-triangle"></i>
                    <small class="font-weight-bold">Em andamento</small>
                  </div>
                  <small class="text-secondary">por {{entrevista.usuario | truncate:[16]}}</small>
                  <button
                    class="btn btn-link pb-0 float-right"
                    id="entrevista-mobile-dropdown"
                    type="button"
                    (click)="abrirOpcoes(entrevista.id)">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>{{entrevista.nome | truncate:[20]}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <span>
                    {{entrevista.evento | truncate:[30]}}<br>{{formatDate(entrevista.createdAt)}}
                  </span>
                </div>
              </div>
            </div>

            <div id="entrevista-mobile-opcoes-{{entrevista.id}}" class="row py-2 entrevista-mobile-opcoes" style="display: none;">
              <div class="col-12 px-1 d-flex justify-content-end">
                <button class="btn btn-secondary float-right ml-1" (click)="visualizar(entrevista)">
                  Visualizar
                </button>
                <button class="btn btn-link float-right ml-1" (click)="confirmarExclusao(entrevista)">
                  Excluir
                </button>
              </div>
            </div>
          </div>

          <div class="row ml-1 mb-1">
            <div class="col-12"></div>
              <small class="text-secondary">Exibindo {{listagem.conteudo.length}} de {{listagem.total}}</small>
          </div>
        </div>
        <!-- MODO DESKTOP -->
        <table *ngIf="!modoMobile" class="table table-responsive-sm table-hover" id="ds-entrevista-table">
          <thead>
            <tr>
              <th class="text-secondary"><i class="fa fa-hashtag"></i></th>
              <th>Evento</th>
              <th>Entrevistador</th>
              <th>Entrevistado</th>
              <th>Status</th>
              <th>Criada em</th>
              <th><a class="float-right text-secondary mr-1" (click)="obterListagem(true)"><i class="fa fa-sync-alt"></i></a></th>
            </tr>
          </thead>
          <tbody *ngIf="carregando">
            <tr>
              <td colspan="7" class="text-center">
                <i>Carregando entrevistas...</i>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr *ngFor="let entrevista of listagem.conteudo; let i = index;">
              <td class="table-index text-secondary"><small>{{i+1}}</small></td>
              <td title="{{entrevista.evento}}">{{entrevista.evento | truncate:[10]}}</td>
              <td title="{{entrevista.usuario}}">{{entrevista.usuario | truncate:[20]}}</td>
              <td title="{{entrevista.nome}}">{{entrevista.nome | truncate:[30]}}</td>
              <td>{{entrevista.concluida ? 'Concluída' : 'Em andamento'}}</td>
              <td>{{formatDate(entrevista.createdAt)}}</td>
              <td>
                <button class="btn btn-outline-secondary float-right ml-1" (click)="confirmarExclusao(entrevista)">
                  Excluir
                </button>
                <button class="btn btn-outline-secondary float-right ml-1" (click)="visualizar(entrevista)">
                  Visualizar
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <small class="text-secondary">Exibindo {{listagem.conteudo.length}} de {{listagem.total}}</small>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row wrap-btn-more-data" [hidden]="listagem.conteudo.length >= listagem.total">
      <div class="col-md-12">
        <button class="btn btn-outline-secondary" (click)="obterListagem()">
          <span [hidden]="carregando">Carregar mais resultados</span>
          <span [hidden]="!carregando"><i class="fas fa-cog fa-spin"></i> Carregando mais resultados...</span>
        </button>
      </div>
    </div>

</div>

<div id="ds-entrevista-modal-exclusao" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p><b>Todas as respostas</b> da entrevista serão excluídas.</p>
            <p>Tem certeza que deseja excluir a entrevista com <b>{{entrevistaExclusao ? entrevistaExclusao.nome : ''}}</b>?</p>
          </div>

          <div class="loader-bar" [ngClass]="{'loading': salvando}"></div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="excluir()">Sim, excluir</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="entrevistaExclusao = null">Cancelar</button>
          </div>
        </div>
    </div>
</div>