
@import '../theme/theme-variables.scss';

body{
  font-family: 'Open Sans';
}

a:hover {
  cursor: pointer;
}

.font-weight-semibold {
  font-weight: 600;
}

.table td {
  vertical-align: middle;
}
.table th {
  color: map-get($theme-colors, secondary)
}

.table td button {
  font-size: 13px;
}

.table tbody tr.splash-success td {
  -webkit-animation: splash-success 3s ease infinite;
  -moz-animation: splash-success 3s ease infinite;
  animation: splash-success 3s ease infinite;
}
.table tbody tr.splash-success {
  -webkit-animation: splash-success-shadow 3s ease infinite;
  -moz-animation: splash-success-shadow 3s ease infinite;
  animation: splash-success-shadow 3s ease infinite;
}

.form-group small {
  padding-left: 3px;
}

.toast {
  border: 0;
}
.toast-error {
  background-color: rgb(189, 75, 75) !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

.container h3:first-child {
  color: $gray-800;
}

.ds-col-title{
  a, i {
    color: $gray-600;
  }

  color: $gray-800;
}

// ++++++++++++++++++
$height-loader-bar: 2px;

@keyframes loading {
    from {left: -200px; width: 0%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.loader-bar {
  height: $height-loader-bar;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.loader-bar:before{
  display: none;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: $height-loader-bar;
  background-color: $loader-color;
  animation: loading 2s linear infinite;
}
.loader-bar.loading:before{
    display: block;
}
// ++++++++++++++++++

.wrap-btn-more-data button.btn {
  width: 100%;
}

// ============================================
@-webkit-keyframes splash-success {
  0%{background: transparent}
  50%{
    background: $loader-color;
    color: #fff;
  }
  100%{background: transparent}
}
@-moz-keyframes splash-success {
  0%{background: transparent}
  50%{
    background: $loader-color;
    color: #fff;
  }
  100%{background: transparent}
}
@keyframes splash-success { 
  0%{background: transparent}
  5%{
    background: $loader-color;
  }
  50%{
    background: lighten($loader-color, 70%);
  }
  75%{
    background: lighten($loader-color, 80%);
  }
  100%{background: lighten($loader-color, 100%);}
}
// ============================================
// ============================================
@-webkit-keyframes splash-success-shadow {
  0%{box-shadow: none}
  50%{
    box-shadow: 0 0 4px 4px $loader-color;
  }
  100%{box-shadow: none}
}
@-moz-keyframes splash-success-shadow {
  0%{box-shadow: none}
  50%{
    box-shadow: 0 0 4px 4px $loader-color;
  }
  100%{box-shadow: none}
}
@keyframes splash-success-shadow {
  0%{box-shadow: none}
  15%{
    box-shadow: 0 0 1px 1px $loader-color;
  }
  50%{
    box-shadow: 0 0 1px 1px lighten($loader-color, 70%);
  }
  75%{
    box-shadow: 0 0 1px 1px lighten($loader-color, 80%);
  }
  100%{box-shadow: none}
}
// ============================================

.modal .modal-dialog{
  max-height: 90vh;
}
.modal .modal-body{
  overflow-y: auto;
  max-height: calc(100vh - 193px);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}